.hero{

min-height:420px;

display:flex;
align-items:center;
justify-content:center;

padding:40px 20px;

background:linear-gradient(
135deg,
#eef2ff,
#faf5ff
);

text-align:center;

}


.hero-content{

max-width:700px;

}


.hero h2{

font-size:48px;

margin-bottom:20px;

color:#1e1b4b;

}


.hero p{

font-size:18px;

color:#64748b;

margin-bottom:30px;

}


.search-box{

display:flex;

background:white;

padding:8px;

border-radius:50px;

box-shadow:0 10px 30px rgba(0,0,0,.1);

margin-bottom:25px;

}


.search-box input{

flex:1;

border:none;

outline:none;

padding:15px 20px;

font-size:16px;

}


.search-box button{

border:none;

background:#4f46e5;

color:white;

padding:12px 25px;

border-radius:40px;

cursor:pointer;

}


.primary-btn{

background:#4f46e5;

color:white;

border:none;

padding:14px 35px;

border-radius:30px;

font-size:16px;

cursor:pointer;

}