.home-hero{

padding:80px 20px;

background:
linear-gradient(
135deg,
#eef2ff,
#ffffff
);

}


.hero-container{

max-width:1200px;

margin:auto;

display:flex;

align-items:center;

justify-content:space-between;

gap:50px;

}



.hero-content{

max-width:600px;

}


.hero-content h1{

font-size:52px;

line-height:1.2;

color:#1e1b4b;

}


.hero-content h1 span{

color:#4f46e5;

}


.hero-content p{

font-size:18px;

color:#64748b;

margin:25px 0;

}



.hero-buttons{

display:flex;

gap:15px;

}



.hero-buttons button{

padding:14px 30px;

border-radius:30px;

border:none;

font-size:16px;

}



.primary{

background:#4f46e5;

color:white;

}



.secondary{

background:white;

border:1px solid #ddd !important;

}



.hero-card{

background:white;

padding:30px;

border-radius:25px;

box-shadow:0 20px 40px rgba(0,0,0,.1);

width:320px;

}



.mini-card{

background:#eef2ff;

padding:20px;

border-radius:15px;

}



.mini-result{

margin-top:20px;

text-align:center;

}



.mini-result strong{

display:block;

font-size:60px;

color:#4f46e5;

}



.mini-result span{

color:#64748b;

}



@media(max-width:800px){

.hero-container{

flex-direction:column;

text-align:center;

}


.hero-content h1{

font-size:38px;

}


.hero-buttons{

justify-content:center;

}

}