.stats-section{

padding:50px 20px;

background:white;

}


.stats-container{

max-width:1100px;

margin:auto;

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));

gap:25px;

}


.stat-card{

background:#f8fafc;

padding:30px;

border-radius:20px;

text-align:center;

box-shadow:
0 8px 25px rgba(0,0,0,.06);

}


.stat-card h2{

font-size:40px;

color:#4f46e5;

margin-bottom:10px;

}


.stat-card p{

color:#64748b;

font-size:17px;

}